<div class="row">
    <div class="col p-3">
        <h2 class="text-primary text-center mb-3">Opportunités d'arbitrage</h2>
        <div class="card border-primary overflow-hidden">
            <div class="table-responsive">
                <table class="table table-light table-striped table-bordered border-secondary mb-0">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Received</th>
                        <th scope="col">Ticker</th>
                        <th scope="col">Direction</th>
                        <th scope="col">Price diff</th>
                        <th scope="col">Buy market</th>
                        <th scope="col">Buy price</th>
                        <th scope="col">Sell market</th>
                        <th scope="col">Sell price</th>
                        <th scope="col">Size</th>
                        <th scope="col">Created</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for opportunity in opportunities %}
                    <tr>
                        <th scope="row">{{ opportunity.id }}</th>
                        <td>{{ opportunity.received|date('d/m/Y H:i:s') }}</td>
                        <td>{{ opportunity.ticker.name }}</td>
                        <td><span class="text-{{ opportunity.direction == 'Sell->Buy' ? 'danger' : 'success' }}">{{ opportunity.direction }}</span></td>
                        <td>{{ opportunity.priceDiff }}</td>
                        <td>{{ opportunity.buyMarket.name }}</td>
                        <td>{{ opportunity.buyPrice }}</td>
                        <td>{{ opportunity.sellMarket.name }}</td>
                        <td>{{ opportunity.sellPrice }}</td>
                        <td>{{ opportunity.size }}</td>
                        <td>{{ opportunity.created|date('d/m/Y H:i:s') }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <small class="ms-1">Nombre d'opérations: <strong>{{ totalOpportunities }}</strong></small>
    </div>
</div>