{% extends 'base.html.twig' %}

{% block title %}Trading{% endblock %}

{% block body %}
    <div class="container-fluid mb-auto">
        <div class="row">
            {{ form_start(form, {'attr': {'class': 'px-0'}}) }}
            <div class="col p-3 mb-3">
                <h2 class="text-primary text-center mb-3">Trading</h2>
                <div class="row">
                    <div class="col-12 col-md-6 mb-md-0 mb-3">
                        <div class="card border-primary border-rounder-full bg-light h-100">
                            <div class="card-header-rounder-2">
                                <p class="bg-success text-white text-center h5 pt-1 pb-2 mb-0">Achat</p>
                            </div>
                            <div class="card-body">
                                {{ include('trading/_form_buy.html.twig') }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="card border-primary border-rounder-full bg-light h-100">
                            <div class="card-header-rounder-2">
                                <p class="bg-danger text-white text-center h5 pt-1 pb-2 mb-0">Vente</p>
                            </div>
                            <div class="card-body">
                                {{ include('trading/_form_sell.html.twig') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
