<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="manifest" href="{{ asset('manifest.webmanifest') }}">
        <link rel="icon" href="{{ asset('build/images/bot.svg') }}">
        <link rel="apple-touch-icon" href="{{ asset('build/images/bot192.png') }}" />
        <link rel="apple-touch-startup-image" href="{{ asset('build/images/screenshot.png') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="d-flex flex-column justify-content-between min-vh-100" data-controller="tooltip">
        {{ include('header.html.twig') }}
        {{ include('_part/_flash_message.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('footer.html.twig') }}
        <div id="notifications" class="toast-container p-3" {{ turbo_stream_listen('notification') }}>
            {% if not mercure_hub_run() %}
                {{ include('_part/_toast.html.twig', {
                    'type': 'danger',
                    'message': 'Mercure Hub is not running'
                }) }}
            {% endif%}
        </div>
    </body>
</html>