<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container-fluid">
        {% if is_granted('ROLE_USER') %}
            <button type="button"
                    class="btn btn-sm btn-link navbar-brand py-0"
                    data-bs-toggle="modal"
                    data-bs-target="#nodeModal"
                    data-controller="stream"
                    data-stream-source="{{ node_ws_url }}"
                    data-stream-key="{{ ws_stream_key() }}"
            >
                <i id="robot" class="bi bi-robot text-primary"></i>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header justify-content-end pb-0">
                    <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg h5"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="d-lg-flex flex-grow-1 align-items-center">
                        <ul class="navbar-nav text-center me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Marchés</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'statistic_index' %}active{% endif %}" href="{{ path('statistic_index') }}">Statistiques</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'opportunity_index' %}active{% endif %}" href="{{ path('opportunity_index') }}">Opportunités</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'order_index' %}active{% endif %}" href="{{ path('order_index') }}">Ordres</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'node_console' %}active{% endif %}" href="{{ path('node_console') }}">Console</a>
                            </li>
                        </ul>
                        <div class="text-center mb-lg-0 mb-5" data-bs-toggle="tooltip" title="Déconnexion" data-bs-placement="left">
                            <a class="btn btn-sm btn-danger d-inline-block ms-lg-2 mt-4 mt-lg-0" href="{{ path('logout') }}" role="button"><i class="bi bi-box-arrow-right text-whit h5"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <i id="robot" class="bi bi-robot text-primary"></i>
        {% endif %}
    </div>
</nav>
<div class="mb-5"></div>
<div class="modal fade" id="nodeModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-light" data-controller="node-ws" data-node-ws-url-value="{{ absolute_url(path('node')) }}">
            <div class="modal-header py-1 px-4">
                <i id="robot" class="bi bi-robot text-primary me-2"></i>
                <h5 class="modal-title">Node server</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-action="node-ws#reload" aria-label="Close"></button>
            </div>
            <div class="modal-body row justify-content-between mx-2">
                <button type="button" id="startRobot" class="btn btn-success col-5" data-action="node-ws#clic" data-node-ws-command="start"><i class="bi bi-activity"></i> Start</button>
                <button type="button" id="stopRobot" class="btn btn-danger col-5" data-action="node-ws#clic" data-node-ws-command="stop"><i class="bi bi-dash-lg"></i> Stop</button>
            </div>
            <div class="modal-footer m-2" data-node-ws-target="result"></div>
        </div>
    </div>
</div>